* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Parafina Black';
    font-weight: bold;
    src: url("../fonts/ParafinaTrial-BoldL.otf") format("opentype");
}

body {
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container.result-search {
    display: block;
}

.container.results {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 10px;
    margin-bottom: 60px;
}

.container.results .result {
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.76);
    flex: 0 0 calc(25% - 50px);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.container.results .result .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.container.results .result .title {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.container.results .result .type,
.container.results .result .date,
.container.results .result .location {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(230, 230, 230);
}

.container.results .result .description {
    color: #c1c1c1;
    font-size: 0.9rem;
    display: none;
}

.container.results .result:hover .description {
    display: block;
}

.container.results .result::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.4s;
    border-radius: 10px;
}

.container.results .result:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.container.heading {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 30px;
    padding: 0px 10px
}


header {
    padding: 20px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
}

.nav a,
.button,
.show-more {
    color: #163300;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 12px 24px;
    color: #153300;
    text-decoration: none;
    margin-right: 15px;
    transition: background 0.3s;
    cursor: pointer;
}



.nav a.active,
.button,
.show-more {
    background: #9fe870;
}

.nav a.active:hover,
.button:hover,
.show-more:hover {
    background: #80E043;
}

.nav a:hover {
    background: #ECEFEB;
}

.nav a:active,
.nav a.active:active,
.button:active,
.show-more:active {
    background: #65cf21;
}

main {
    padding: 64px 0px;
}

.hero {
    width: 50%;
}

.hero h1 {
    font-family: "Parafina Black", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: 0.01em;
}

.hero p {
    font-size: 1.25em;
    margin-bottom: 30px;
    color: #4b5563;
    line-height: 1.7;
}

.search-form {
    width: 45%;
    padding: 30px;
    border-radius: 12px;
}

.search-form form {
    padding: 32px;
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, .15), 0 40px 40px 0 rgba(0, 0, 0, .04);
    border-radius: 32px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group h2 {
    font-size: 1.1em;
    color: #374151;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input,
.select-category {
    padding: 12px 16px;
    width: 100%;
    font-size: 1.1em;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.5s, box-shadow 0.5s;
    outline: none;
}


.form-group input:hover {
    border-color: #6C6C6B;
}

.form-group input:focus {
    border-color: black;
    box-shadow: inset 0 0 0 1px black;
}

.search-form-small form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 32px;
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, .15), 0 40px 40px 0 rgba(0, 0, 0, .04);
    border-radius: 32px;
}

.search-form-small .form-group {
    margin-bottom: 0px;
    width: 100%;
}

.hints {
    position: absolute;
    top: 84%;
    left: 0;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
}

.hint-item {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #bcbcbc;
}

.hint-item:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hint-item:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hint-item:hover {
    background-color: #f1f1f1;
}

.button {
    font-weight: 600;
    border: 0px;
}

.search-form .button {
    width: 100%;
}

.search-form-small .button {
    margin-bottom: -12px;
}

.button:hover {
    cursor: pointer;
}

footer {
    background: #ECEFEB;
    margin-top: 20px;
}

footer .container {
    justify-content: center;
    padding: 20px 0;
    color: #454745;
    text-align: center;
}

#error {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #a8200d;
    width: 300px;
    padding: 15px 20px;
    border-radius: 20px;
    color: #fff;
}

#history-results {
    flex: 1;
}

#history-results .result {
    display: block;
    margin: 20px 10px;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}

#history-results .result p {
    padding-top: 20px;
}

#history-results .result a {
    font-size: 1.4rem;
    color: #163300;
    text-decoration: none;
}

#history-results .result a:hover {
    text-decoration: underline;
}

#places .result {
    position: relative;
    cursor: pointer;
}

#places .result .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.star {
    width: 14px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background: #fff;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #9fe870;
    float: right;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: #80E043;
    text-decoration: none;
    cursor: pointer;
}

.close:active {
    color: #65cf21;
}

.modal-content .information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content .information .main-information {
    flex: 1;
}

.modal-content .information .main-information .name {
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.modal-content .information .main-information .table {
    display: table;
    width: 100%;
}

.modal-content .information .main-information .table .row {
    display: table-row;
}

.modal-content .information .main-information .table .label {
    display: table-cell;
    font-weight: bold;
    padding: 8px 15px;
    width: 30%;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e0e0e0;
}

.modal-content .information .main-information .table .value {
    display: table-cell;
    padding: 8px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.modal-content .information .main-information .table .value ul {
    list-style-type: none;
    line-height: 1.3rem;
}

.modal-content .information .main-information .table .status.open {
    color: #27ae60;
}

.modal-content .information .main-information .table .status.closed {
    color: #d04444;
}

.modal-content .information .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.modal-content .information .gallery img {
    width: calc(25% - 10px);
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

@media (max-width: 1200px) {
    main.container {
        padding: 60px 20px;
    }

    .hero h1 {
        font-size: 3.5em;
    }

    .container.results {
        gap: 15px;

    }

    .container.results .result {
        flex: 0 0 calc(50% - 20px);
    }

    .container.heading {
        font-size: 1rem;
    }

    .modal-content .information {
        flex-direction: column;
    }

    .modal-content .information .gallery img {
        width: calc(50% - 20px);
        height: 100%;
    }
}

@media (max-width: 768px) {
    main.container {
        flex-direction: column;
    }

    .hero,
    .search-form {
        width: 100%
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        font-size: 1.1em;
    }

    .search-form-small {
        padding: 30px;
    }

    .search-form-small form {
        flex-direction: column;
    }

    .container.results .result {
        flex: 0 0 100%;

    }

    .modal-content .information .gallery img {
        width: 100%;
        height: 100%;
    }
}